%shade {
    background-color: #efefef;
}

%fullWidthBand {
    padding: 2rem 1rem;
}

body {
   @extend %shade;
}

#site-header,
#site-footer {
    @extend %fullWidthBand;
    @extend %shade;
}

#main {
    background-color: #ffffff;
    @extend %fullWidthBand;
}

.wrapper {
    @include outer-container;
}

.primary {
    @include span-columns(8);
    padding: 0 4rem 0 0;
}

.secondary {
    @include span-columns(4);
}
