body {
    background-color: #ffffff;
    font-size: 16px;

    > header {
        background-color: #f3f3f3;
        padding: 1rem;

        h1 {
            margin: 0;
            font-size: 140%;
        }
    }
}
