%shade {
    background-color: #efefef;
}

%fullWidthBand {
    padding: 2rem 0;
}

body {
   @extend %shade;
}

#site-header,
#site-footer {
    @extend %fullWidthBand;
    @extend %shade;
}

#main {
    background-color: #ffffff;
    @extend %fullWidthBand;
}

.wrapper {
    @include outer-container;
}
